<!-- Section Start -->
        <section class="main">
            
            <!-- Container Start -->
            <div class="container">

                <div class="box col-lg-7 col-md-7 col-sm-8 col-centered text-center wow zoomIn" data-wow-duration="2s">
                    <div class="box-bordered">
                        <div class="icon"><img src="../assets/images/icon-lock.png" alt="" /></div>

                        <h3 class="text-uppercase"><b>Link Bank Account</b></h3>

                        <p>Do you have any Current / Savings account with the selected bank to open deposit?</p>

                        <div class="btn-group btn-fixed-w">
                            <a href="#" class="btn btn-danger-blue">YES</a>
                            <a href="#" class="btn btn-danger-blue">NO</a>
                        </div>

                        <p>Link Your Bank Account</p>

                        <form action="#" method="post" data-toggle="validator">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="text" class="form-control" name="account_no" id="account_no" placeholder="Account Number" data-error="Enter Account Number" required />
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" name="ac_holder_name" id="ac_holder_name" placeholder="Account Holder Name" data-error="Enter Account Holder Name" required />
                                </div> 
                                <div class="help-block with-errors"></div>
                            </div>

                            <input type="submit" value="Submit" class="btn btn-block no-margin-top">
                        </form>
                    </div>
                </div>

            </div>
            <!-- Container End -->
            
        </section>
        <!-- Section End -->

        <!-- Partners Start -->
        <div class="partners">
            <div class="photobanner">
                <img class="first" src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
            </div>
        </div>
        <!-- Partners End -->