<!-- Section Start -->
        <section class="main">
            
            <!-- Container Start -->
            <div class="container">

                <div class="box box-bordered text-center no-padding-bottom no-padding-left no-padding-right wow zoomIn" data-wow-duration="2s">
                    <div class="icon"><img src="../assets/images/icon-dollar-2.png" alt="" /></div>

                    <h3 class="text-uppercase"><b>Investment History</b></h3>

                    <div class="table-responsive">
                        <table class="table table-bordered-grey table-arrow">
                            <thead>
                                <tr>
                                    <th width="17%">Acknowledge</th>
                                    <th width="14.33%">Amount</th>
                                    <th width="14.33%">Tenure</th>
                                    <th width="14.33%">Interest</th>
                                    <th width="20%">Status</th>
                                    <th width="20%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>ACK1234</td>
                                    <td>10,000</td>
                                    <td>5 Years</td>
                                    <td>1.6%</td>
                                    <td>Pending Verification</td>
                                    <td><a href="#" class="btn btn-danger">Show Details</a></td>
                                </tr>
                                <tr>
                                    <td>ACK2345</td>
                                    <td>20,000</td>
                                    <td>6 Years</td>
                                    <td>1.5%</td>
                                    <td>Pending Payment</td>
                                    <td><a href="#" class="btn btn-danger">Show Details</a></td>
                                </tr>
                                <tr>
                                    <td>ACK3456</td>
                                    <td>30,000</td>
                                    <td>7 Years</td>
                                    <td>1.4%</td>
                                    <td>Active</td>
                                    <td><a href="#" class="btn btn-danger">Show Details</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- Container End -->
            
        </section>
        <!-- Section End -->

        <!-- Partners Start -->
        <div class="partners">
            <div class="photobanner">
                <img class="first" src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
            </div>
        </div>
        <!-- Partners End -->