<!-- BG Banner -->
<section class="bg bg-login">

    <!-- Quick Form Start -->
    <div class="quick-form wow zoomIn" data-wow-duration="2s">
        <div class="icon"><i class="fa fa-lock"></i></div>
        
        <form action="#" method="post" data-toggle="validator">
            <h1>User Login</h1>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" name="username" id="username" placeholder="User Name" data-error="Enter User Name" required />
                </div> 
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" data-error="Enter Your Password" required />
                </div>
                <div class="help-block with-errors"></div>
            </div>
            <input type="submit" value="Login" class="btn btn-block">
            <a href="#" class="btn btn-block">Register</a>
        </form>
        <p>Forgot Password? <a href="#">Click Here</a></p>
    </div>
    <!-- Quick Form End -->

</section>
<!-- BG Banner -->

<!-- Partners Start -->
        <section class='marquee'>
            <img src="../assets/images/logo-1.jpg" alt="" />
            <img src="../assets/images/logo-2.jpg" alt="" />
            <img src="../assets/images/logo-3.jpg" alt="" />
            <img src="../assets/images/logo-4.jpg" alt="" />
            <img src="../assets/images/logo-5.jpg" alt="" />
            <img src="../assets/images/logo-6.jpg" alt="" />
            <img src="../assets/images/logo-7.jpg" alt="" />
            <img src="../assets/images/logo-1.jpg" alt="" />
            <img src="../assets/images/logo-2.jpg" alt="" />
            <img src="../assets/images/logo-3.jpg" alt="" />
            <img src="../assets/images/logo-4.jpg" alt="" />
            <img src="../assets/images/logo-5.jpg" alt="" />
            <img src="../assets/images/logo-6.jpg" alt="" />
            <img src="../assets/images/logo-7.jpg" alt="" />
        </section>
<!-- Partners End -->