@charset "utf-8";
/* CSS Document */

html body {-webkit-text-size-adjust: none;}
body {margin: 0; padding: 0; font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 400; color: #000000; overflow-x: hidden; background: #000000; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -ms-overflow-style: scrollbar;}
header, section, footer {width: 100%;}
*, *:after, *:before {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {font-family: 'Ubuntu', sans-serif; margin: 0; padding: 0; position: relative;}
p {margin-bottom: 0;}
a {transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
a:focus {outline: 0;}
*:focus {outline: none;}
a:hover, a:focus {text-decoration: none;}

.no-margin {margin: 0px !important;}
.no-margin-top {margin-top: 0px !important;}
.no-margin-bottom {margin-bottom: 0px !important;}
.no-margin-right {margin-right: 0px !important;}
.no-margin-left {margin-left: 0px !important;}
.no-padding {padding: 0px !important;}
.no-padding-top {padding-top: 0px !important;}
.no-padding-bottom {padding-bottom: 0px !important;}
.no-padding-right {padding-right: 0px !important;}
.no-padding-left {padding-left: 0px !important;}

.col-centered {float: none; margin: 0 auto;}

.img-full {width: 100%;}
.img-responsive {display: unset;}

/*--- Header ---*/
header {background: #ffffff; padding: 10px 0; border-top: 10px solid #12498a;}

/*--- Header Top ---*/
.header-top {padding: 0 2%;}
.header-top [class*='col-']:nth-child(2) {text-align: right;}

.header-top .call2action {margin: 20px 0 0; padding: 0;}
.header-top .call2action li {list-style: none; display: inline; vertical-align: middle;}
.header-top .call2action li + li {margin-left: 6%;}
.header-top .call2action li {color: #12498a;}
.header-top .call2action li a {color: #525252;}
.header-top .call2action li a:hover {color: #000000;}
.header-top .call2action li > i {color: #db3736;}

.header-top a.btn.btn-red {background: #db3736; color: #ffffff;}
.header-top a.btn.btn-blue {background: #12498a; color: #ffffff;}
.header-top a.btn.btn-red,
.header-top a.btn.btn-blue {width: 125px; border-radius: 25px; -o-border-radius: 25px; -ms-border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px;}
.header-top a.btn.btn-red:hover,
.header-top a.btn.btn-blue:hover {background: #000000; color: #ffffff;}
.header-top a.btn.btn-red i,
.header-top a.btn.btn-blue i {font-size: 18px; margin-right: 5px;}

/*--- Navigation ---*/
.navbar-inverse {background: none; min-height: auto; margin: 0; border: none; border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;}
.navbar-inverse .navbar-brand {margin-right: 50px; padding: 0; height: auto;}
.navbar-inverse .navbar-brand img {width: 135px;}
.custom-nav > .navbar-nav {margin: 25px 0 0;}
.custom-nav > .navbar-nav > li + li {margin-left: 40px;}
.custom-nav > .navbar-nav > li > a {font-family: 'Ubuntu', sans-serif; font-size: 18px; font-weight: 500; letter-spacing: 1px; color: #12498a; cursor: pointer; padding: 0;}
.custom-nav > .navbar-nav > li > a:hover,
.custom-nav > .navbar-nav > .active > a,
.custom-nav > .navbar-nav > .active > a:focus,
.custom-nav > .navbar-nav > .active > a:hover,
.custom-nav > .navbar-nav > .open > a,
.custom-nav > .navbar-nav > .open > a:focus,
.custom-nav > .navbar-nav > .open > a:hover {color: #db3736; background: none;}
.custom-nav .dropdown-menu {min-width: auto; left: -10px; margin: 0; padding: 10px 0; border: 0;}
.custom-nav .dropdown-menu > li > a {font-size: 16px; font-weight: 500; padding: 5px 20px;}
.custom-nav .dropdown-menu > .active > a,
.custom-nav .dropdown-menu > .active > a:focus,
.custom-nav .dropdown-menu > .active > a:hover {background: #373435;}
.navbar-collapse {border: none; box-shadow: none; padding-left: 0; padding-right: 0;}

/*--- Fix Bootstrap ---*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {background: none; color: #f10102;}
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open>a:focus,
.navbar-default .navbar-nav > .open > a:active {background: none; color: #555;}

/*--- BG Banner --*/
.bg {background-position: center center; background-repeat: no-repeat; background-size: cover; -o-background-size: cover; -ms-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; padding: 100px 0; position: relative;}
.bg-login {background-image: url('../images/bg-login.jpg');}
.bg-register {background-image: url('../images/bg-register.jpg');}
.bg-home {background-image: url('../images/bg-home.jpg');}

/*--- Caption ---*/
.bg-caption {position: absolute; top: 28.5%; left: 28.5%;}
.bg-caption h2 {font-family: 'Biko', sans-serif; font-size: 54px; color: #525252; font-weight: 900; text-transform: uppercase; margin-top: 15px;}
.bg-caption h3 {font-size: 37px; color: #525252;}
.bg-caption h2 span,
.bg-caption h3 span {color: #db3736;}
.bg-caption p {background: #12498a; color: #ffffff; margin-top: 15px; padding: 5px 15px; display: inline-block; border-radius: 25px; -o-border-radius: 25px; -ms-border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px;}

/*--- Quick Form ---*/
.quick-form {position: relative; background: rgba(255, 255, 255, 0.5); width: 650px; margin: 0 auto; padding: 65px 0 25px 0; border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border: 1px solid #ffffff; text-align: center;}
.quick-form h1 {font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 600; color: #114786; text-transform: uppercase; margin-bottom: 25px;}
.quick-form p {color: #323131;}
.quick-form a {font-style: italic;}

.quick-form form {padding: 0 80px 25px;}

.quick-form .form-control {font-family: 'Open Sans', sans-serif; font-size: 18px; background: #ffffff; color: #000000; border: 1px solid #d7d7d7; border-left: none; border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 6px 12px 6px 0; height: 55px;}
.quick-form .form-control:focus {border-color: #d7d7d7; box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}

.quick-form .btn {font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 600; font-style: normal; text-transform: uppercase; text-decoration: none; background: #114786; color:#ffffff; border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.quick-form .btn + .btn {margin-top: 15px;}
.quick-form .btn-red {background: #8a1223;}

.quick-form .input-group-addon {padding: 6px 0; background: #ffffff; border: none; border: 1px solid #d7d7d7; border-right: none; border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 18px; text-align: center;}
.quick-form .input-group-addon i {width: 35px; color: #114786;}

.quick-form ::-webkit-input-placeholder {color: #a7a7a7; /* Chrome/Opera/Safari */}
.quick-form ::-moz-placeholder {color: #a7a7a7; /* Firefox 19+ */}
.quick-form :-ms-input-placeholder {color: #a7a7a7; /* IE 10+ */}
.quick-form :-moz-placeholder {color: #a7a7a7; /* Firefox 18- */}

.quick-form .has-error .checkbox,
.quick-form .has-error .checkbox-inline,
.quick-form .has-error .control-label,
.quick-form .has-error .help-block,
.quick-form .has-error .radio,
.quick-form .has-error .radio-inline,
.quick-form .has-error.checkbox label,
.quick-form .has-error.checkbox-inline label,
.quick-form .has-error.radio label,
.quick-form .has-error.radio-inline label {font-size: 14px; color: #ff2400; text-align: left;}

.quick-form hr {border-color: #a6a6a6; opacity: 0.6;}

.quick-form.home {background: rgba(229, 208, 186, 0.5); width: 450px; margin: 0 0 0 2%; padding: 0; text-align: left;}
.quick-form.home .form-title {background: #5078a6; padding: 25px; border-top-left-radius: 15px; -o-border-top-left-radius: 15px; -ms-border-top-left-radius: 15px; -moz-border-top-left-radius: 15px; -webkit-border-top-left-radius: 15px; border-top-right-radius: 15px; -o-border-top-right-radius: 15px; -ms-border-top-right-radius: 15px; -moz-border-top-right-radius: 15px; -webkit-border-top-right-radius: 15px;}
.quick-form.home h1 {font-family: 'Ubuntu', sans-serif; font-size: 42px; font-weight: 600; color: #ffffff; text-transform: uppercase; margin-bottom: 5px;}
.quick-form.home p {font-family: 'Ubuntu', sans-serif; font-size: 17px; color: #ffffff; letter-spacing: 1px;}
.quick-form.home form {padding: 25px;}
.quick-form.home .form-group {margin-bottom: 0;}
.quick-form.home label {font-family: 'Biko', sans-serif; font-size: 20px; font-weight: 400; text-transform: uppercase; margin-bottom: 0;}
.quick-form.home .form-control {padding: 6px 12px 6px 12px; height: 45px;}

/*--- Main ---*/
.main {background: #ffffff; padding: 60px 0;}
.main.padding-b {padding-bottom: 110px;}
.main h2 {font-family: 'Biko', sans-serif; font-size: 30px; font-weight: bold; text-transform: uppercase; color: #db3736;}
.main h2 span {font-family: 'Ubuntu', sans-serif; font-size: 22px; font-weight: 400; text-transform: lowercase; color: #0c2645; display: block;}
.main h3 {font-size: 26px; font-weight: 400; color: #12498a;}
.main h4 {font-size: 20px; font-weight: 400; color: #7b7b7b; letter-spacing: 1px;}
.main p {color: #818181;}
.main p b {color: #3b3b3b;}
.main a {color: #db3736;}
.main a:hover {color: #000000;}

.main hr {width: 65%; height: 2px; border: none; background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(76,76,76,1) 50%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(76,76,76,1) 50%,rgba(255,255,255,0) 100%); background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(76,76,76,1) 50%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );}

.main h2 + p,
.main h2 + ul,
.main h2 + img,
.main h2 + div,
.main h2 + form,
.main h3 + div,
.main div + .btn {margin-top: 35px;}
.main h3 + p,
.main p + p,
.main img + h3,
.main label + div {margin-top: 15px;}

.main .border-bottom::after {content: ''; border-bottom: 2px solid #db3736; width: 35px; display: block; left: 0; right: 0;}
.main .border-bottom-center::after {content: ''; border-bottom: 2px solid #db3736; width: 35px; display: block; left: 0; right: 0; margin: 5px auto 0;}

.icon {position:absolute; top: -45px; left: 0; right: 0; margin: auto; background: #12498a; width: 80px; height: 80px; line-height: 80px; border-radius: 25px; -o-border-radius: 25px; -ms-border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; text-align: center;}
.icon i {font-size: 48px; line-height: 80px; color: #ffffff;}
.icon img {width: 45px;}

.box {position: relative; background: #f3f3f3; margin-top: 35px; padding: 75px 50px 50px; border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;}
.box-bordered::before {content: ''; position: absolute; top: 10px; bottom: 10px; left: 10px; right: 10px; border: 1px solid #dddddd; border-radius: 15px; -o-border-radius: 15px; -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;}

.box .icon + .btn {margin-top: 0 !important;}

.box .table td {padding: 15px 5px;}
.box .table .btn {width: 90%;}

.table {margin-bottom: 0;}
.table thead {background: #12498a; color: #ffffff;}
.table tbody {color: #666666;}
.table th,
.table td {font-weight: 400; text-align: center; vertical-align: middle !important;}
.table img {margin: 5px 0;}
.table-bordered {border: 1px solid #12498a;}
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th {border: 1px solid #12498a;}
.table-bordered-grey > thead > tr > td,
.table-bordered-grey > thead > tr > th,
.table-bordered-grey > tbody > tr > td:nth-child(n+2),
.table-bordered-grey > tbody > tr > th:nth-child(n+2) {border-left: 1px solid #cccccc;}
.table-bordered-grey > thead > tr > td,
.table-bordered-grey > thead > tr > th,
.table-bordered-grey > tbody > tr > td,
.table-bordered-grey > tbody > tr > th,
.table-bordered-grey > tfoot > tr > td,
.table-bordered-grey > tfoot > tr > th {border-top: 1px solid #cccccc;}
.table-arrow > thead > tr > td,
.table-arrow > thead > tr > th {position: relative;}
.table-arrow > thead > tr > td::after,
.table-arrow > thead > tr > th::after {content: ''; position: absolute; border-top: 8px solid #12498a; border-left: 4px solid transparent; border-right: 4px solid transparent; left: 50%; bottom: -8px; transform: translateX(-50%); -o-transform: translateX(-50%); -ms-transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%);}
.table-arrow > thead > tr > td:last-child::after,
.table-arrow > thead > tr > th:last-child::after {display: none;}

.main .btn-danger {font-family: 'Ubuntu', sans-serif; font-size: 22px; font-weight: 500; background: #db3736; color: #ffffff; border: none; border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 10px; width: 350px;}
.main .btn-danger:hover {background: #262626; color: #ffffff;}

.bg-grey {background: #e8e8e8;}

.bg-red-blue .title-icon {background: url('../images/icon.png') no-repeat; background-size: 87px; padding-left: 100px; font-size: 50px;}
.bg-red-blue .title-icon span {font-size: 32px;}
.bg-red-blue h2,
.bg-red-blue h2 span,
.bg-red-blue p {color: #ffffff;}
.bg-red-blue ul {padding: 0;}
.bg-red-blue ul li {list-style: none; position: relative; color: #ffffff; padding-left: 45px;}
.bg-red-blue ul li::before {content: ''; background: url('../images/icon-list.png') no-repeat; position: absolute; left: 0; top: 50%; width: 30px; height: 29px; transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.bg-red-blue ul li + li {margin-top: 20px;}
.bg-red-blue .border-bottom::after {border-bottom-color: #ffffff;}
.bg-red-blue > .row > [class*='col-'] {padding: 60px 35px;}
.bg-red-blue > .row > [class*='col-']:nth-child(1) {background: #db3736;}
.bg-red-blue > .row > [class*='col-']:nth-child(2) {background: #12498a;}
.bg-red-blue label {font-size: 14px; font-weight: 400; color: #e7e7e9;}
.bg-red-blue label [type*='radio'] {margin-top: 4px;}
.bg-red-blue #day.form-control,
.bg-red-blue #month.form-control {width: 50%; display: inline; padding-left: 0; padding-right: 0;}
.bg-red-blue #day.form-control {border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none; margin-left: -5px;}
.bg-red-blue #month.form-control {border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: none;}
.bg-red-blue select {background: #ffffff url('../images/arrow-select.png') calc(100% - 10px) 50% no-repeat; appearance: none; -o-appearance: none; -ms-appearance: none; -moz-appearance: none; -webkit-appearance: none; padding: 6px; position: relative;}
.bg-red-blue select:focus {border: 1px solid #ccc; box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
/* CAUTION: IE Hackery Ahead */
.bg-red-blue select::-ms-expand {
    display: none; /* Remove Default Arrow on ie10 and ie11 */
}
/* Target Internet Explorer 9 to Undo The Custom Arrow */
@media screen and (min-width:0\0) {
    .bg-red-blue select {
        background:none\9;
        padding: 5px\9;
    }
}
.bg-red-blue .form-blue {background: #0d3a70; border-color: #0d3a70; color: #ffffff;}
.bg-red-blue .btn-group {display: block;}
.bg-red-blue .btn-group .btn {display: inline; width: calc(50% - 5px);}
.bg-red-blue .btn-group .btn + .btn {margin-left: 10px;}

.bg-image-1 {background: #f3f2f2 url('../images/bg-image-1.jpg') bottom center no-repeat; background-size: cover; -o-background-size: cover; -ms-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;}

/*--- Partners ---*/
.marquee {width: 100%; background: #ebebeb; padding: 20px 0; overflow: hidden;}
.marquee img {margin: 0 20px;}

::-webkit-input-placeholder {color: #969696; /* Chrome/Opera/Safari */}
::-moz-placeholder {color: #969696; /* Firefox 19+ */}
:-ms-input-placeholder {color: #969696; /* IE 10+ */}
:-moz-placeholder {color: #969696; /* Firefox 18- */}

/*--- Footer ---*/
footer {background: #12498a; padding: 50px 0 0 0; position: relative;}
footer h4 {font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; color: #ffffff; border-bottom: 2px solid #9a9898; margin: 0; padding-bottom: 10px;}
footer p {font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; color: #ffffff; margin-bottom: 0;}
footer p i {padding-right: 8px; vertical-align: middle;}
footer a {font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; color: #ffffff;}
footer a:hover {color: #db3736; text-decoration: none;}
footer ul {margin: 0; padding: 0 0 0 16px;}
footer ul li {font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; color: #ffffff; list-style-image: url('../images/arrow.png');}
footer .btn {background: #db3736; padding: 6px 35px;}
footer .btn:hover {background: #ffffff;}
footer .icon-twitter {position: relative; padding-left: 25px;}
footer .icon-twitter::before {content: url('../images/twitter.png'); position: absolute; top: 5px; left: 0;}
footer h4 + p,
footer h4 + ul {margin-top: 25px;}
footer p + p,
footer ul li:nth-child(n+2),
footer p + .btn {margin-top: 15px;}
footer figure {width: 100%; padding: 50px 0; text-align: center;}
footer figure img {width: 135px;}
footer nav {border-top: 2px solid #9a9898; padding: 25px 0;}
footer nav ul {margin: 0; padding: 0;}
footer nav ul:nth-child(1) {float: left;}
footer nav ul:nth-child(1) li:nth-child(n+2)::before {content: '|';}
footer nav ul:nth-child(2) {float: right;}
footer nav ul:nth-child(2) li:nth-child(n+2)::before {content: '/';}
footer nav ul li {list-style: none; display: inline-block; position: relative; color: #e6cfcf;}
footer nav ul li:nth-child(n+2) {margin-top: 0; margin-left: 10px;}
footer nav ul li:nth-child(n+2)::before {color: #9f9f9f; padding-right: 10px;}

/*--- Scroll to Top ---*/
.scrollToTop {position: absolute; width: 50px; height: 45px; line-height: 50px; font-weight: bold; text-align: center; background: #12498a; color: #ffffff; text-decoration: none; top: 0; left: 0; right: 0; margin: -45px auto 0; border-top-left-radius: 5px; -o-border-top-left-radius: 5px; -ms-border-top-left-radius: 5px; -moz-border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; border-top-right-radius: 5px; -o-border-top-right-radius: 5px; -ms-border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; z-index: 1;}
.scrollToTop:hover {line-height: 40px; color: #ffffff; text-decoration: none;}

/* ------------------------ Media LAYOUT (DESKTOP/1600PX) ------------------------ */
@media (min-width: 1600px) and (max-width: 1799px) {
    /*--- Caption ---*/
    .bg-caption {top: 28.5%; left: 32%;}
}

/* ------------------------ Media LAYOUT (DESKTOP/1200PX) ------------------------ */
@media (min-width: 1360px) and (max-width: 1599px) {
    /*--- BG Banner --*/
    .bg {padding: 80px 0;}

    /*--- Caption ---*/
    .bg-caption {top: 27%; left: 33%;}
    .bg-caption h2 {font-size: 48px;}
    .bg-caption h3 {font-size: 32px;}
    .bg-caption p {font-size: 16px;}

    /*--- Quick Form ---*/
    .quick-form.home {width: 400px;}
    .quick-form.home .form-title {padding: 20px;}
    .quick-form.home h1 {font-size: 38px;}
    .quick-form.home p {font-size: 15px; letter-spacing: 1;}
    .quick-form.home form {padding: 20px;}
    .quick-form.home label {font-size: 16px;}
    .quick-form.home .form-control {height: 40px;}
}

/* ------------------------ Media LAYOUT (DESKTOP/1200PX) ------------------------ */
@media (min-width: 1200px) and (max-width: 1359px) {
    /*--- Header Top ---*/
    .header-top .call2action {margin: 15px 0 0;}
    .header-top .call2action li + li {margin-left: 20px;}

    /*--- Navigation ---*/
    .navbar-inverse .navbar-brand {margin-right: 45px;}
    .navbar-inverse .navbar-brand img {width: 120px;}
    .custom-nav > .navbar-nav {margin: 20px 0 0;}
    .custom-nav > .navbar-nav > li + li {margin-left: 30px;}

    /*--- BG Banner --*/
    .bg {padding: 80px 0;}

    /*--- Caption ---*/
    .bg-caption {top: 27%; left: 33%;}
    .bg-caption h2 {font-size: 42px;}
    .bg-caption h3 {font-size: 29px;}
    .bg-caption p {font-size: 14px;}

    /*--- Quick Form ---*/
    .quick-form.home {width: 350px;}
    .quick-form.home .form-title {padding: 20px;}
    .quick-form.home h1 {font-size: 33px;}
    .quick-form.home p {font-size: 15px; letter-spacing: 0;}
    .quick-form.home form {padding: 20px;}
    .quick-form.home label {font-size: 16px;}
    .quick-form.home .form-control {height: 40px;}

    /*--- Main ---*/
    .bg-red-blue .title-icon {background-size: 70px; padding-left: 85px; font-size: 42px;}
    .bg-red-blue .title-icon span {font-size: 28px;}

    /*--- Footer ---*/
    footer figure img {width: 120px;}
}

/* ------------------------ Media LAYOUT (TABLET/1024PX) ------------------------ */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {font-size: 16px;}

    /*--- Header Top ---*/
    .header-top .call2action {margin: 10px 0 0;}
    .header-top .call2action li + li {margin-left: 20px;}

    .header-top .call2action li {font-size: 14px;}

    .header-top a.btn.btn-red,
    .header-top a.btn.btn-blue {width: 100px;}
    .header-top a.btn.btn-red i,
    .header-top a.btn.btn-blue i {font-size: 16px; margin-right: 3px;}

    /*--- Navigation ---*/
    .navbar-inverse .navbar-brand {margin-right: 35px}
    .navbar-inverse .navbar-brand img {width: 100px;}
    .custom-nav > .navbar-nav {margin: 15px 0 0;}
    .custom-nav > .navbar-nav > li > a,
    .custom-nav .dropdown-menu > li > a {font-size: 14px;}
    .custom-nav > .navbar-nav > li + li {margin-left: 28px;}

    /*--- BG Banner --*/
    .bg {padding: 80px 0;}

    /*--- Caption ---*/
    .bg-caption {top: 27%; left: 33%;}
    .bg-caption h2 {font-size: 34px;}
    .bg-caption h3 {font-size: 24px;}
    .bg-caption p {font-size: 11px;}

    /*--- Quick Form ---*/
    .quick-form.home {width: 300px;}
    .quick-form.home .form-title {padding: 20px;}
    .quick-form.home h1 {font-size: 27px;}
    .quick-form.home p {font-size: 12px; letter-spacing: 0;}
    .quick-form.home form {padding: 20px;}
    .quick-form.home label {font-size: 16px;}
    .quick-form.home .form-control {height: 35px;}

    /*--- Main ---*/
    .main h2 {font-size: 26px;}
    .main h2 span {font-size: 18px;}
    .main h3 {font-size: 20px;}
    .main h4 {font-size: 18px;}

    .main .btn-danger {font-size: 18px; width: 300px;}

    .bg-red-blue .title-icon {background-size: 65px; padding-left: 75px; font-size: 36px;}
    .bg-red-blue .title-icon span {font-size: 24px;}

    .steps {width: 80%;}

    /*--- Partners ---*/
	.marquee img {height: 60px;}

    /*--- Footer ---*/
    footer figure img {width: 100px;}
}

@media (min-width: 992px) {
    
}

@media (max-width: 991px) {
    
}

/* ------------------------ Media LAYOUT (TABLET/768PX) ------------------------ */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {font-size: 16px;}

    /*--- Header Top ---*/
    .header-top .call2action {margin: 5px 0 0;}
    .header-top .call2action li + li {margin-left: 0;}

    .header-top .call2action li {font-size: 12px;}

    .header-top a.btn.btn-red,
    .header-top a.btn.btn-blue {width: 75px;}
    .header-top a.btn.btn-red i,
    .header-top a.btn.btn-blue i {display: none;}

    /*--- Navigation ---*/
    .navbar-inverse .navbar-brand {margin-right: 15px;}
    .navbar-inverse .navbar-brand img {width: 80px;}
    .custom-nav > .navbar-nav {margin: 10px 0 0;}
    .custom-nav > .navbar-nav > li > a,
    .custom-nav .dropdown-menu > li > a {font-size: 12px;}
    .custom-nav > .navbar-nav > li + li {margin-left: 15px;}

    /*--- BG Banner --*/
    .bg {padding: 60px 0;}

    /*--- Caption ---*/
    .bg-caption {top: 24.5%; left: 36%;}
    .bg-caption h2 {font-size: 28px;}
    .bg-caption h3 {font-size: 20px;}
    .bg-caption p {font-size: 10px; padding: 5px 10px;}

    /*--- Quick Form ---*/
    .quick-form.home {width: 250px;}
    .quick-form.home .form-title {padding: 15px;}
    .quick-form.home h1 {font-size: 23px;}
    .quick-form.home p {font-size: 10px; letter-spacing: 0;}
    .quick-form.home form {padding: 15px;}
    .quick-form.home label {font-size: 14px;}
    .quick-form.home .form-control {height: 30px;}

    /*--- Main ---*/
    .main h2 {font-size: 24px;}
    .main h2 span {font-size: 16px;}
    .main h3 {font-size: 20px;}
    .main h4 {font-size: 18px;}

    .main .btn-danger {font-size: 16px; width: 300px;}

    .bg-red-blue .title-icon {background-size: 42px; padding-left: 50px; font-size: 24px;}
    .bg-red-blue .title-icon span {font-size: 16px;}

    /*--- Partners ---*/
	.marquee {padding: 15px 0;}
	.marquee img {margin: 0 15px; height: 55px;}

    /* Footer */
    footer p {font-size: 12px;}
    footer p i {padding-right: 4px;}
    footer a {font-size: 12px;}
    footer ul li {font-size: 12px;}
    footer .btn {padding: 6px 25px;}
    footer figure img {width: 100px;}
    footer nav {text-align: center;}
    footer nav ul + ul {margin-top: 10px;}
    footer nav ul:nth-child(1) {float: none;}
    footer nav ul:nth-child(2) {float: none;}
}

@media only screen and (min-width: 768px) {
    .text-sm-left {text-align: left;}
    .text-sm-right {text-align: right;}
    .text-sm-center {text-align: center;}
    .text-sm-justify {text-align: justify;}
}

/* ------------------------ Media LAYOUT (MOBILE/767PX) ------------------------ */
@media only screen and (max-width: 767px) {
    body {font-size: 14px;}

    .text-xs-left {text-align: left;}
    .text-xs-right {text-align: right;}
    .text-xs-center {text-align: center;}
    .text-xs-justify {text-align: justify;}

    /*--- Header Top ---*/
    .header-top {padding: 0;}
    .header-top [class*='col-']:nth-child(2) {text-align: center;}

    .header-top .call2action {margin: 15px 0 0;}
    .header-top .call2action li {display: block;}
    .header-top .call2action li + li {margin-left: 0; margin-top: 10px;}

    /*--- Navigation ---*/
    .navbar-inverse .navbar-brand {margin-right: 0; padding: 0 15px;}
    .navbar-inverse .navbar-brand img {width: 110px;}
    .custom-nav {position: absolute; width: 100%; z-index: 9;}
    .custom-nav > .navbar-nav {text-align: left; margin: 10px 15px;}
    .custom-nav > .navbar-nav > li + li {margin-left: 0;}
    .custom-nav > .navbar-nav > li:nth-child(n+2) > a {margin-top: 2px;}
    .custom-nav > .navbar-nav > li > a {background: rgba(0, 0, 0, 0.9); font-size: 14px; padding: 5px 15px; color: #ffffff;}
    .custom-nav > .navbar-nav > li > a > .fa-home {position: relative; top: 0; font-size: 24px;}
    .custom-nav > .navbar-nav > li > a:focus {background: rgba(0, 0, 0, 0.9);}
    .custom-nav > .navbar-nav > li > a:hover,
    .custom-nav > .navbar-nav > .active > a,
    .custom-nav > .navbar-nav > .active > a:focus,
    .custom-nav > .navbar-nav > .active > a:hover,
    .custom-nav > .navbar-nav > .open > a,
    .custom-nav > .navbar-nav > .open > a:hover {background: rgba(219, 55, 54, 0.9); color: #ffffff;}
    .custom-nav > .navbar-nav > .open > a:focus {background: rgba(219, 55, 54, 0.9); color: #ffffff;}
    .navbar-toggle {margin-top: 0; padding: 9px 10px; background-color: #db3736; background-image: none; border: 1px solid transparent; border-radius: 4px; transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;}
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {background-color: #ffffff;}
    .navbar-inverse .navbar-toggle:focus .icon-bar,
    .navbar-inverse .navbar-toggle:hover .icon-bar {background-color: #db3736;}
    .custom-nav .navbar-nav .open .dropdown-menu > li > a {background: rgba(255, 255, 255, 0.8); color: #12498a;}
    .custom-nav .navbar-nav .open .dropdown-menu > li > a:focus,
    .custom-nav .navbar-nav .open .dropdown-menu > li > a:hover {background: rgba(255, 255, 255, 0.8); color: #db3736;}
    .custom-nav .navbar-nav .open .dropdown-menu > li > a::before {display: none;}
    .custom-nav > .navbar-nav .open .dropdown-menu > .active > a,
    .custom-nav > .navbar-nav .open .dropdown-menu > .active > a:focus,
    .custom-nav > .navbar-nav .open .dropdown-menu > .active > a:hover {color: #fff212;}
    .navbar-nav .open .dropdown-menu {padding: 0;}
    .custom-nav .dropdown-menu > li > a {font-size: 12px;}
    .custom-nav .open .dropdown-menu .dropdown-header,
    .custom-nav .open .dropdown-menu > li > a {padding: 5px 15px;}
    .caret {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px dashed;
        display: inline-block;
        height: 0;
        margin-left: 0;
        position: absolute;
        right: 15px;
        top: 50%;
        vertical-align: middle;
        width: 0;
    }

    /*--- BG Banner --*/
    .bg {padding: 45px 0;}

    /*--- Caption ---*/
    .bg-caption {position: relative; top: 0; left: 0; margin-top: 15px; text-align: center;}
    .bg-caption h2 {font-size: 24px;}
    .bg-caption h3 {font-size: 18px;}
    .bg-caption p {font-size: 10px; padding: 5px 10px;}

    /*--- Quick Form ---*/
    .quick-form {width: 90%; padding: 45px 0 25px 0;}
    .quick-form .icon {top: -35px; width: 60px; height: 60px;}
    .quick-form .icon i {font-size: 38px; line-height: 60px;}
    .quick-form h1 {font-size: 18px;}

    .quick-form form {padding: 0 25px 25px;}

    .quick-form .form-control {font-size: 14px;}

    .quick-form .btn {font-size: 18px;}

    .quick-form .input-group-addon {font-size: 16px;}

    .quick-form.home {width: calc(100% - 30px); margin: 0 15px;}
    .quick-form.home .form-title {padding: 15px;}
    .quick-form.home h1 {font-size: 27px;}
    .quick-form.home p {font-size: 12px; letter-spacing: 0;}
    .quick-form.home form {padding: 15px;}
    .quick-form.home label {font-size: 14px;}
    .quick-form.home .form-control {height: 30px;}

    /*--- Main ---*/
    .main h2 {font-size: 22px;}
    .main h2 span {font-size: 14px;}
    .main h3 {font-size: 18px;}
    .main h4 {font-size: 16px;}

    .box {padding: 60px 30px 30px;}
    .box .btn {width: 100% !important;}
    .box-margin .row [class*='col-']:nth-child(2) {margin-top: 65px;}

    .main .btn-danger {font-size: 14px; width: 290px;}

    .bg-red-blue .title-icon {background-size: 40px; padding-left: 45px; font-size: 22px;}
    .bg-red-blue .title-icon span {font-size: 14px;}

    /*--- Partners ---*/
	.marquee {padding: 10px 0;}
	.marquee img {margin: 0 10px; height: 50px;}

    /* Footer */
    footer {text-align: center;}
    footer .row [class*='col-']:nth-child(n+2) {margin-top: 25px;}
    footer h4 + p,
    footer h4 + ul {margin-top: 15px;}
    footer p {font-size: 12px;}
    footer p i {padding-right: 4px;}
    footer a {font-size: 12px;}
    footer ul li {font-size: 12px;}
    footer p + p,
    footer ul li:nth-child(n+2),
    footer p + .btn {margin-top: 10px;}
    footer .btn {padding: 6px 25px;}    

    footer nav ul + ul {margin-top: 10px;}
    footer nav ul:nth-child(1) {float: none;}
    footer nav ul:nth-child(1) li:nth-child(n+2) {margin-left: 0;}
    footer nav ul:nth-child(1) li:nth-child(n+2)::before {display: none;}
    footer nav ul:nth-child(2) {float: none;}
}