<!-- Section Start -->
        <section class="main">
            
            <!-- Container Start -->
            <div class="container">

                <div class="box col-lg-7 col-md-7 col-sm-8 col-centered text-center wow zoomIn" data-wow-duration="2s">
                    <div class="box-bordered">
                        <div class="icon"><img src="../assets/images/tickround.png" alt="" /></div>

                        <h4 class="text-uppercase">Confirmed<br />
                        Acknowledgement Number</h4>
                        <hr />
                        <h3><b>ACK1234</b></h3>
                    </div>
                </div>
                
            </div>
            <!-- Container End -->

        </section>
        <!-- Section End -->

        <!-- Partners Start -->
        <div class="partners">
            <div class="photobanner">
                <img class="first" src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
            </div>
        </div>
        <!-- Partners End -->