<!-- Footer Start -->
<footer>

    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="wow fadeInDown" data-wow-duration="2s">Get in Touch</h4>
                <p class="wow fadeInUp" data-wow-duration="2s"><i class="glyphicon glyphicon-map-marker"></i>108 Tran Hung Dao, HaNoi.</p>
                <p class="wow fadeInUp" data-wow-duration="2s"><i class="glyphicon glyphicon-envelope"></i><a href="mailto:support@domain.com">support@domain.com</a></p>
                <p class="wow fadeInUp" data-wow-duration="2s"><i class="glyphicon glyphicon-phone-alt"></i><a href="tel:+84439421030">+84-4-39421030</a></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="wow fadeInDown" data-wow-duration="2s">Company</h4>
                <ul>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">About Us</a></li>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="wow fadeInDown" data-wow-duration="2s">Useful Links</h4>
                <ul>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">Products</a></li>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">Interest Rates</a></li>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">Terms &amp; Conditions</a></li>
                    <li class="wow fadeInUp" data-wow-duration="2s"><a href="#">FAQ’s</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="wow fadeInDown" data-wow-duration="2s">Latest Tweets</h4>
                <p class="icon-twitter wow fadeInUp" data-wow-duration="2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut urna dolor. In augue ex.</p>
                <a href="#" class="btn wow fadeInUp" data-wow-duration="2s">@smart-investor</a>
            </div>
        </div>

        <figure class="wow zoomIn" data-wow-duration="2s"><a href="#"><img src="images/logo-w.png" alt="" /></a></figure>

        <nav class="clearfix">
            <ul>
                <li class="wow fadeInDown" data-wow-duration="2s">&copy; Company 2017</li>
                <li class="wow fadeInDown" data-wow-duration="2s">All Right Reserved</li>
            </ul>
            <ul>
                <li class="wow fadeInDown" data-wow-duration="2s"><a href="#">Home</a></li>
                <li class="wow fadeInDown" data-wow-duration="2s"><a href="#">About Us</a></li>
                <li class="wow fadeInDown" data-wow-duration="2s"><a href="#">Offers</a></li>
                <li class="wow fadeInDown" data-wow-duration="2s"><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <!-- Container End -->

</footer>
<!-- Footer End -->