<!-- Header Start -->
<header>

    <!-- Header Top Start -->
    <div class="header-top wow fadeInDown" data-wow-duration="2s">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!-- Navigation Start -->
                <nav class="navbar navbar-inverse">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-animations" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand"><img src="../../assets/images/logo.png" alt="" /></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse collapse custom-nav" id="bs-example-navbar-collapse-animations" data-hover="dropdown" aria-expanded="false" role="navigation">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Offers</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <!-- <li class="dropdown">
                                <a href="courses.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdownhover-bottom" role="menu">
                                    <li><a href="#">Submenu</a></li>
                                    <li><a href="#">Submenu</a></li>
                                    <li><a href="#">Submenu</a></li>
                                </ul>
                            </li> -->
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <!-- Navigation End -->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="call2action">
                    <li><i class="fa fa-phone"></i> Call Us : <a href="tel:1235589965">123-5589965</a></li>
                    <li><a href="login.html" class="btn btn-red"><i class="fa fa-unlock-alt"></i> Login</a> <a routerLink="/register"
          routerLinkActive="active" class="btn btn-blue"><i class="fa fa-pencil-square-o"></i> Register</a></li>
                    <li><a href="#"><img src="../../assets/images/flag-china.jpg" alt="" /></a> <a href="#"><img src="../../assets/images/flag-england.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Header Top End -->
    
</header>
<!-- Header End -->