<!-- Section Start -->
        <section class="main">
            
            <!-- Container Start -->
            <div class="container">

                <div class="box box-bordered text-center no-padding-bottom no-padding-left no-padding-right wow zoomIn" data-wow-duration="2s">
                    <div class="icon"><img src="../assets/images/icon-result.png" alt="" /></div>

                    <h3 class="text-uppercase"><b>Preference Result</b></h3>

                    <div class="table-responsive">
                        <table class="table table-bordered-grey table-b-b table-arrow">
                            <thead>
                                <tr>
                                    <th width="33.33%">Institution Name</th>
                                    <th width="33.33%">Interest Rate</th>
                                    <th width="33.33%">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="../assets/images/logo-citibank.png" alt="" /></td>
                                    <td>
                                        <ul>
                                            <li>1.6% per anum 5 years</li>
                                            <li>1.5% per anum 7 years</li>
                                        </ul>
                                    </td>
                                    <td><a href="#" class="btn btn-danger-blue">Invest Now</a></td>
                                </tr>
                                <tr>
                                    <td><img src="../assets/images/logo-tienphongbank.png" alt="" /></td>
                                    <td>
                                        <ul>
                                            <li>1.6% per anum 5 years</li>
                                            <li>1.5% per anum 7 years</li>
                                        </ul>
                                    </td>
                                    <td><a href="#" class="btn btn-danger-blue">Invest Now</a></td>
                                </tr>
                                <tr>
                                    <td><img src="../assets/images/logo-vietinbank.png" alt="" /></td>
                                    <td>
                                        <ul>
                                            <li>1.6% per anum 5 years</li>
                                            <li>1.5% per anum 7 years</li>
                                        </ul>
                                    </td>
                                    <td><a href="#" class="btn btn-danger-blue">Invest Now</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li><span aria-hidden="true">of 10</span></li>
                    </ul>
                </div>

            </div>
            <!-- Container End -->
            
        </section>
        <!-- Section End -->

        <!-- Partners Start -->
        <div class="partners">
            <div class="photobanner">
                <img class="first" src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
            </div>
        </div>
        <!-- Partners End -->