<!-- Section Start -->
        <section class="main">
            
            <!-- Container Start -->
            <div class="container">

                <div class="box col-lg-8 col-md-8 col-sm-10 col-centered wow zoomIn" data-wow-duration="2s">
                    <div class="box-bordered">
                        <div class="icon"><img src="../assets/images/icon-reinvestment.png" alt="" /></div>

                        <h3 class="text-uppercase text-center"><b>Reinvestment Details</b></h3>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="100%" colspan="2">Account Number - 1234567890</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td width="50%">Bank</td>
                                        <td width="50%">Bank Name</td>
                                    </tr>
                                    <tr>
                                        <td>Amount</td>
                                        <td>10,000</td>
                                    </tr>
                                    <tr>
                                        <td>Tenure</td>
                                        <td>5 Years</td>
                                    </tr>
                                    <tr>
                                        <td>Interest Rate</td>
                                        <td>1.5%</td>
                                    </tr>
                                    <tr>
                                        <td>Maturity Amount</td>
                                        <td>To be Calculated</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <hr />

                        <form action="#" method="post">
                            <div class="form-group row clearfix">
                                <label for="deposit_type" class="col-sm-5 col-form-label">Reinvest With (Bank)</label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="deposit_type">
                                        <option value="" selected disabled>Reinvest With (Bank)</option>
                                        <option value="">Same Bank</option>
                                        <option value="">Value Bank</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row clearfix">
                                <label for="deposit_type" class="col-sm-5 col-form-label">Reinvest With (Preference)</label>
                                <div class="col-sm-7">
                                    <select class="form-control" id="deposit_type">
                                        <option value="" selected disabled>Reinvest With (Preference)</option>
                                        <option value="">Existing Preference</option>
                                        <option value="">New Preference</option>
                                    </select>
                                </div>
                            </div>

                            <input type="submit" value="Submit" class="btn btn-block btn-danger">
                        </form>
                    </div>
                </div>

            </div>
            <!-- Container End -->

        </section>
        <!-- Section End -->

        <!-- Partners Start -->
        <div class="partners">
            <div class="photobanner">
                <img class="first" src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
                <img src="../assets/images/logo-1.jpg" alt="" />
                <img src="../assets/images/logo-2.jpg" alt="" />
                <img src="../assets/images/logo-3.jpg" alt="" />
                <img src="../assets/images/logo-4.jpg" alt="" />
                <img src="../assets/images/logo-5.jpg" alt="" />
                <img src="../assets/images/logo-6.jpg" alt="" />
                <img src="../assets/images/logo-7.jpg" alt="" />
            </div>
        </div>
        <!-- Partners End -->