<!-- BG Banner -->
<section class="bg bg-home">

    <!-- Quick Form Start -->
    <div class="quick-form home wow zoomIn" data-wow-duration="2s">                
        <div class="form-title">
            <h1>Ready to Invest?</h1>
            <p>Get the best investment plan for your family</p>
        </div>

        <form action="#" method="post" data-toggle="validator">
            <div class="form-group">
                <label for="name">Your Name</label>
                <input type="text" class="form-control" name="name" id="name" data-error="Enter Your Name" required />
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" data-error="Enter Your Email" required />
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" data-error="Enter Your Password" required />
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" name="phone" id="phone" data-error="Enter Your Phone Number" required />
                <div class="help-block with-errors"></div>
            </div>
            <input type="submit" value="Invest Now" class="btn btn-block">
        </form>
    </div>
    <!-- Quick Form End -->

    <!-- Caption -->
    <div class="bg-caption">
        <h3 class="wow fadeInRight" data-wow-duration="1s">Do you know how<br />
        <span>fabulous</span> your <span>life</span> can be?</h3>
        <h2 class="wow fadeInRight" data-wow-duration="2s">Take <span>Control.</span><br />
        Live Your <span>Dreams.</span></h2>
        <p class="wow fadeInRight" data-wow-duration="3s">15 Years | 5 MILLION CUSTOMERS | 5000+ CRORES INVESTED</p>
    </div>
    <!-- Caption -->

</section>
<!-- BG Banner -->

<!-- Partners Start -->
<section class="my-slider js-imageslider">
    <ul class="my-slider-list">
        <li class="my-slider-item"><img src="../assets/images/logo-1.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li class="my-slider-item"><img src="../assets/images/logo-2.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li class="my-slider-item"><img src="../assets/images/logo-3.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li class="my-slider-item"><img src="../assets/images/logo-4.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li class="my-slider-item"><img src="../assets/images/logo-5.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li class="my-slider-item"><img src="../assets/images/logo-6.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
        <li class="my-slider-item"><img src="../assets/images/logo-7.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" /></li>
    </ul>
</section>
<!-- Partners End -->

<!-- Section Start -->
<section class="main">
    <div class="container">
        <h2 class="border-bottom-center text-center wow fadeInDown" data-wow-duration="2s">
            <span>Overview of</span>
            Bank FD Rates
        </h2>

        <div class="table-responsive wow zoomIn" data-wow-duration="2s">
            <table class="table table-custom">
                <thead>
                    <tr>
                        <th width="20%">Institution Name</th>
                        <th width="20%">Deposit Amount Range</th>
                        <th width="20%">Tenure</th>
                        <th width="20%">Interest Rate</th>
                        <th width="20%">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="../assets/images/logo-tienphongbank.jpg" alt="" /></td>
                        <td>Up to 1Cr</td>
                        <td>1 Year to 10 Years</td>
                        <td>8.5% - 8.65%<br />
                        Compound Yearly</td>
                        <td><a href="#">Apply Now</a></td>
                    </tr>
                    <tr>
                        <td><img src="../assets/images/logo-citibank.jpg" alt="" /></td>
                        <td>Up to 1Cr</td>
                        <td>1 Year to 10 Years</td>
                        <td>8.5% - 8.65%<br />
                        Compound Yearly</td>
                        <td><a href="#">Apply Now</a></td>
                    </tr>
                    <tr>
                        <td><img src="../assets/images/logo-vietcombank.jpg" alt="" /></td>
                        <td>Up to 1Cr</td>
                        <td>1 Year to 10 Years</td>
                        <td>8.5% - 8.65%<br />
                        Compound Yearly</td>
                        <td><a href="#">Apply Now</a></td>
                    </tr>
                    <tr>
                        <td><img src="../assets/images/logo-vietinbank.jpg" alt="" /></td>
                        <td>Up to 1Cr</td>
                        <td>1 Year to 10 Years</td>
                        <td>8.5% - 8.65%<br />
                        Compound Yearly</td>
                        <td><a href="#">Apply Now</a></td>
                    </tr>
                    <tr>
                        <td><img src="../assets/images/logo-agribank.jpg" alt="" /></td>
                        <td>Up to 1Cr</td>
                        <td>1 Year to 10 Years</td>
                        <td>8.5% - 8.65%<br />
                        Compound Yearly</td>
                        <td><a href="#">Apply Now</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- Section End -->

<!-- Section Start -->
<section class="main bg-image-1 text-center">
    <div class="container">
        <h2 class="border-bottom-center wow fadeInDown" data-wow-duration="2s">
            <span>How</span>
            It Works
        </h2>

        <img src="../assets/images/steps.png" alt="" class="img-responsive steps" />
    </div>
</section>
<!-- Section End -->

<!-- Section Start -->
<section class="main bg-red-blue no-padding">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6 match-height">
            <h2 class="title-icon wow fadeInDown" data-wow-duration="2s">
                <span>Secure your future with our</span>
                Fixed Deposit Plan
            </h2>

            <ul>
                <li class="wow fadeInUp" data-wow-duration="2s">A wide range of tenures, ranging from 7 days to 10 years, to suit your investment plan.</li>
                <li class="wow fadeInUp" data-wow-duration="2s">Partial withdrawal is permitted in units of Rs 1,000. The balance amount earns the original rate of interest.</li>
                <li class="wow fadeInUp" data-wow-duration="2s">Safe custody of your fixed deposit receipts.</li>
                <li class="wow fadeInUp" data-wow-duration="2s">Facility of automatic renewal.</li>
                <li class="wow fadeInUp" data-wow-duration="2s">Loan facility is available upto 90% of principal and accrued interest.</li>
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 match-height">
            <h2 class="border-bottom wow fadeInDown" data-wow-duration="2s">
                <span>Fixed Deposit</span>
                Calculator
            </h2>

            <form action="#" method="post">
                <label for="cust_type">Type of Customer</label><br />
                <label class="radio-inline">
                    <input type="radio" name="cust_type" id="cust_type">Normal
                </label>
                <label class="radio-inline">
                    <input type="radio" name="cust_type" id="cust_type">Senior Citizen
                </label>
                <div class="row clearfix">
                    <div class="form-group col-lg-4 col-md-6 col-sm-6">
                        <label for="deposit_amount">Deposit Amount</label>
                        <input type="text" class="form-control" name="deposit_amount" id="deposit_amount" required />
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-sm-6">
                        <label for="interest_rate">Rate of Interest</label>
                        <input type="text" class="form-control" name="interest_rate" id="interest_rate" required />
                    </div>
                    <div class="form-group col-lg-4 col-md-12 col-sm-12">
                        <label for="date">Tenure (months and days)</label>
                        <div class="clearfix no-margin-top">
                            <select class="form-control" id="month">
                                <option selected disabled>Months</option>
                                <option>Jan</option>
                                <option>Feb</option>
                                <option>Mar</option>
                                <option>Apr</option>
                                <option>May</option>
                                <option>Jun</option>
                                <option>Jul</option>
                                <option>Aug</option>
                                <option>Sep</option>
                                <option>Oct</option>
                                <option>Nov</option>
                                <option>Dec</option>
                            </select>
                            <select class="form-control" id="day">
                                <option selected disabled>Days</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="maturity_amount">Maturity Amount</label>
                    <input type="text" class="form-control form-blue" name="maturity_amount" id="maturity_amount" placeholder="0.0" required />
                </div>
                <div class="btn-group">
                    <a href="#" class="btn btn-danger">Calculate</a>
                    <a href="#" class="btn btn-danger">Apply Now</a>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Section End -->

<!-- Section Start -->
<section class="main bg-grey text-center padding-b">
    <div class="container">
        <h2 class="border-bottom-center wow fadeInDown" data-wow-duration="2s">
            <span>Why</span>
            Our Company
        </h2>

        <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="../assets/images/icon-1.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" />
                <h3 class="border-bottom-center wow fadeInUp" data-wow-duration="2s">Expert <b>Advisors</b></h3>
                <p class="wow fadeInUp" data-wow-duration="2s">Every investor with lorem ipsum gets a dedicated investment advisor. You can choose to benefit from the expertise of our certified investment advisors, or get instant mutual fund solutions on the go, in minutes, with Money Mitr - India’s most comprehensive and friendly robo-advisor.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="../assets/images/icon-2.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" />
                <h3 class="border-bottom-center wow fadeInUp" data-wow-duration="2s">Secure <b>Transactions</b></h3>
                <p class="wow fadeInUp" data-wow-duration="2s">Lorem ipsum is officially registered with the industry regulator SEBI and with AMFI, UIDAI, BSE, CDSL, CIBIL and CIRL. All our data and web services are hosted with 24x7 physical and electronic security and our network communications are secured with 256-bit encryption.</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="../assets/images/icon-3.jpg" alt="" class="wow zoomIn" data-wow-duration="2s" />
                <h3 class="border-bottom-center wow fadeInUp" data-wow-duration="2s">Family <b>Friendly</b></h3>
                <p class="wow fadeInUp" data-wow-duration="2s">With Lorem Ipsum, you can invest for your family too. All you need to do is add members to your login ID. You can then invest and manage the investments of your entire family, open minor accounts for your kids, make joint investments, and much more.</p>
            </div>
        </div>

        <a href="#" class="btn btn-danger wow fadeInUp" data-wow-duration="2s">Invest Now</a>
    </div>
</section>
<!-- Section End -->